[flake8]
# ignored rules, see https://lintlyci.github.io/Flake8Rules/
# E203: Whitespace before ':'
# E302: Expected 2 blank lines, found 0
# E731: Do not assign a lambda expression, use a def
# W503: Line break occurred before a binary operator
# F407: future feature annotations is not defined
ignore = E203,E226,E302,E41,E221,E221,E731,W503,F407
max-line-length = 100
exclude = tests/test_current.py
