# Data Files

## Plotting
**/*.png
empyricalRMT/plots

## Testing Remnants
empyricalRMT/tests/*.csv
test_eigs.npy

## fMRI-related
*.nii.gz



# Development
.vscode



# OS-Related
**/*.~lock*


## Python
build
dist
env
main.py
.mypy_cache
*.egg-info
**/__pycache__

