# Data Files

## Plotting
empyricalRMT/plots

## Testing Remnants
empyricalRMT/tests/*.csv
test_eigs.npy

## fMRI-related
*.nii.gz

# Development
.vscode

## Python
build
dist
env
main.py
*.egg-info
**/__pycache__

