attrs==22.1.0
black==22.8.0
click==8.1.3
cycler==0.11.0
dill==0.3.5.1
EMD-signal==1.2.3
flake8==5.0.4
fonttools==4.37.1
iniconfig==1.1.1
joblib==1.1.1
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.5.3
mccabe==0.7.0
multiprocess==0.70.13
mypy==0.971
mypy-extensions==0.4.3
numba==0.56.2
numpy==1.23.3
packaging==21.3
pandas==1.4.4
pathos==0.2.9
pathspec==0.10.1
patsy==0.5.2
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
pox==0.3.1
ppft==1.7.6.5
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyod==1.0.4
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.8.2
pytz==2022.2.1
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
setuptools-scm==6.4.2
six==1.16.0
statsmodels==0.13.2
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.64.1
typing_extensions==4.3.0
